* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  body{
      font-family: serif;
      font-size: 10px;
  }
  header{
      font-family: sans-serif slab serif;
  }
  body{
      line-height: 1.5;
      letter-spacing: 1px;
      word-spacing: 3px;
  }
  header h1{
      text-align: center;
      letter-spacing: 2px;
  }
  section h2+p{
      text-indent: 20px;
  }
  body li{
      line-height: 1.5;
  }
  ul{
      list-style-type: square;
  }
  ol{
      list-style-type: lower-alpha;
  }
  a:link,a:visited,a:focus,a:hover{
      color: #a66;
      text-decoration: underline;
  }
  a:hover,a:focus{
      text-decoration: none;
  }
  a:hover{
      outline: none;
  }
  a:active{
      color: white;
      background-color: #a66;
  }
  a[href*="http"]{
      background: url(external-link-52.png) no-repeat 100% 0;
      background-size: 15px;
      padding-right: 17px;
  }
  nav ul{
      margin-top: 0;
      margin-bottom: 0;
  }
  nav a{
      outline: none;
      text-decoration: none;
      display: block;
      font-size: 1.5em;
      border: 1px #a66 solid;
     padding: 13px;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 7%;
      letter-spacing: 1px;
      font-weight: bold;
  } 
  nav a:link{
      text-decoration: none;
  }
  nav ul{
      list-style-type: none;
  }
